<header>
  <style>
    .background_image {
      display: block;
      position: relative;
    }
    .background_image:before {
      content: "";
      opacity: 0.8;
      background-image: url("./assets/images/wind_wave-other.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.75;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }
  </style>

  <div class="headline background_image">
    <div class="container">
      <h1 style="background-color: transparent">{{ page.heading }}</h1>
      <h2 style="background-color: transparent">{{ page.subheading }}</h2>
    </div>
  </div>
</header>
