---
layout: compress
---

@charset 'utf-8';
@import "bootstrap";

@import "layout";
@import "nav";
@import "header";
@import "main";

backgroundImage::after {
  content: "";
  background: url("./images/wind_wave-other.jpg");
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
