---
layout: compress
---

@charset 'utf-8';
@import "bootstrap";

@import "layout";
@import "nav";
@import "header";
@import "main";

// .background_image {
//   display: block;
//   position: relative;
// }

// .background_image:before {
//   content: "";
//   opacity: 0.8;
//   background-image: url("./images/wind_wave-other.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   opacity: 0.75;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   position: absolute;
//   z-index: -1;
// }

.avatar {
  width: 250px; /* You can set the dimensions to whatever you want */
  height: 250px;
  object-fit: cover;
  margin-top: auto;
  margin-bottom: auto;
}
